* {
  box-sizing: border-box;
}

body {
  background-color: #3d0a0a;
  padding: 0px;
  margin: 0;
}

a,
span {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
